<ng-container>
    <section class="nav-section">
        <a mat-list-item routerLinkActive="active" [routerLink]="['']">
            <!-- <img src="assets/img/sideNav/home-w.png" alt="home" /> -->
            <span>Dashboard</span>
        </a>
    </section>
    <section class="nav-section">
        <a mat-list-item routerLinkActive="active" [routerLink]="['']">
            <!-- <img [src]="assets/img/sideNav/home-w.png" [alt]="" /> -->
            <span>Projects</span>
        </a>
    </section>
</ng-container>